log/*.log
tmp/**/*
config/database.yml
config/lamepress.yml
public/media/**/*
public/ckeditor_assets/**/*
public/assets/
public/sitemap.xml
app/views/blocks
!app/views/blocks/demo
!app/views/blocks/_navigator_list.html.erb
app/views/layouts/
!app/views/layouts/admin.html.erb
!app/views/layouts/demo.html.erb
app/views/linker/
!app/views/linker/demo/
!app/views/linker/feed.rss.builder
app/views/search/
!app/views/search/demo/
app/assets/
.sass-cache/
.bundle/
bin/
.rvmrc

