log/*.log
tmp/**/*
config/database.yml
public/media/**/*
public/phpmedia/**/*
public/ckeditor_assets/**/*
public/javascripts/cache/*
public/stylesheets/cache/*
public/assets/**/*
todo
.sass-cache/
.bundle
bin
.rvmrc

