<!--######---main column---###########-->
<div class = "main_col">
	<div class = "main_panel">
		
		<div class = "full_redline"></div>
			<%= @mnom %>
		<div class = 'full_redline'></div>

	</div>
			
</div>
		
	   
