body
{
	background-color:#C0C0C0;
	font-family:verdana;
	font-size:13px;
	color:#000000;
}
/*==============================
	SITE WRAPPER
===============================*/
.site-wrapper
{
	width:983px;
	background-color: #ffffff;
	border:solid 1px black;
	padding-left:22px;
	padding-right:22px;
	margin-left:auto;
	margin-right:auto;

}
/*==============================
	HEADER WRAPPER
===============================*/
.header-wrapper
{
	margin-top:6px;
	width:983px;
	height:169px;


	/* css lets you designate how you want an image to
	repeat. Along the x-axis, y-axis or not at all. */

}


/*=========Logo===========*/

.logo
{
	height:130px;
	width:195px;
	float:left;
}

.logo img
{
    height:130px;
	width:195px;
	border:0;

}
/*=========Header right===========*/
.header_right
{
	width:250px;
	float:right;
	height:97px;
}

/*=========imerominia===========*/
.datetime
{
	text-align:right;
	float:left;
	height:10px;
	width:250px;
	font-weight: bold;
	font-size: 10px;
	margin-top: 15px;
}

/*========search===========*/
.search
{
	text-align:right;
	width:250px;
	float:right;
	margin-top:12px;
	height:46px;
}

.searchwrap
{
    float:right;
    width:235px;
    height:27px;
    background:url('images/search.gif');
    background-repeat: no-repeat;

}



input.texta
{
font-size:11px;
float:left;
margin-top:5px;
margin-bottom:5px;
margin-left:5px;
height:15px;
width:203px;
border:0px;
color:gray;
}

input.textb
{
font-size:11px;
float:left;
margin-top:5px;
margin-bottom:5px;
margin-left:5px;
height:15px;
width:203px;
border:0px;
color:#000000;
}

input.sbutton
{
float:right;
margin-right:3px;
margin-top:4px;
margin-bottom:4px;
}

.sredline_4px
{
	margin-top:10px;
	float:right;
	height:4px;
	width:235px;
	background:url('images/red_4px_bg.gif');
	background-repeat: repeat-x;

}

/*=========red underline search===========*/
.redline_4px
{
	margin-top:10px;
	float:right;
	height:4px;
	width:232px;
	background:url('images/red_4px_bg.gif');
	background-repeat: repeat-x;

}

.header_menu
{
	float:right;
	text-align:right;
	height:13px;
	width:788px;
	margin-top:9px;
	margin-bottom:11px;
}

.header_menu ul
{
	list-style: none;
  margin:0;
  padding:0;
  float:right;

}


.header_menu li
{
	list-style: none;
  margin:0;
  padding-left:7px;
  float:left;
}


.header_menu a
{
color:#7a6b67;
text-decoration:none;
}

.header_menu a:hover
{
	color:#ec121b;
}

.header_red_menu
{
	margin-bottom:5px;
	float:left;
	height:30px;
	width:983px;
	background:url('images/Header_bg.gif');
	background-repeat: repeat-x;
	font-weight:bold;
	margin-right:0px;
	margin-left:0px;
}


.header_red_block
{
	padding:0;
    float:left;
    height:auto;
	width: 100%;
	padding-top:6px;

}

.header_red_block img
{
	display:block;
	height:20px;
	margin-top:-3px;

}

.header_red_block ul
{
	list-style: none;
    margin:0;
    padding:0;
    float:left;

}


.header_red_block li
{
	list-style: none;
    margin:0;
    padding-left:7px;
    float:left;

}


.header_red_block a
{
	color:#000000;
	text-decoration:none;
	display:block;
	float:left;
	padding-bottom:7px;
}

.header_red_block a:hover
{
	color:white;
	padding-bottom:7px;
	font-weight:bold;
}


.header_red_block a#activated
{
	background:url("images/redpointer.png") center no-repeat;
	padding-bottom:26px;
}

.blackline_4px
{
	float:left;
	height:4px;
	width:983px;
	background:url('images/black_underline_bg.gif');
	background-repeat: repeat-x;

}




/*==============================
		BODY WRAPPER
===============================*/
.body-wrapper
{
	float:left;
	margin-top:9px;
	margin-bottom:16px;
	width:983px;
	height: auto;
}
.left_col
{
	margin-top:26px;
	width:232px;
	height:100%;
	float:left;
}

.main_col
{
	background:url('images/maincol_bg.gif');
	margin-top:26px;
	float:left;
	width:519px;
	height:100%;
	background-repeat: repeat-y;

}

.right_col
{
  margin-top:0px;
	width:232px;
	height:100%;
	float:right;
	overflow:hidden;

}

.full_col
{
	float:left;
	width:751px;
	height:100%;

}



/*###########---------------- Left Col ----------------###########*/

.side_panel
{
	padding:10px;
	float:left;
	background:url('images/left_col_bg.gif');
	background-repeat: repeat-y;
	width:212px;
	height:auto;
	margin-bottom:9px;
}

/*########### Exofilo panel ########*/

.exofilo
{
	font-weight:bold;
	width:232px;
	height:290px;
	margin-bottom:11px;
}

.exofilo img
{
	width:212px;
	height:290px;
}


.issue
{
	font-weight:bold;
	font-size:10px;
}

.num_issue
{
	margin-bottom:8px;
}

.date_issue
{
	margin-bottom:10px;
}

.download_issue a
{
	font-weight:bold;
	font-size:10px;
	color:#888687;
	text-decoration:none;
}

.download_issue a:hover
{
	color:#ec121b;
}

/*########### Search panel ########*/
.search_panel
{
  float:left;
  width:100%;
	font-weight:bold;
	font-size:10px;
	margin:0px;
	padding:0px;
}

.search_panel input
{
  text-align:center;
  margin-top:5px;
  width:120px;
  background-color:#d2d2d2;
  border:0;
}

.sublink
{
margin-top:8px;

}
.submitLink
 {
   padding:0px;
   margin:0px;
   background-color: transparent;
   text-decoration: none;
   border: none;
   cursor: pointer;
   font-weight:bold;
   font-size:10px;
   color:#ec121b;

  }

.submitLink:hover
 {
   background-color: transparent;
   text-decoration: none;
   border: none;
   cursor: pointer;
   font-weight:bold;
   font-size:10px;
   color:#000000;
  }



.search_button
{
	font-weight:bold;
	font-size:10px;
	color:#ec121b;
}

.search_button a
{
	text-decoration:none;
	color:#ec121b;
}

.search_button a:hover
{
	color:#000000;
}


.search_issues
{
  float:left;
  text-align:center;
  width:202px;
  height:20px;
  margin-top:10px;

}


.search_issues a
{
  text-decoration:none;
  color:white;
  background:gray;
  padding:4px;
  margin:2px;

}
/*########### Stiles ########*/
.title
{
	font-weight:bold;
	margin-bottom:9px;
}

.stiles
{
	line-height: 18px;
	padding-top:11px;
	font-size:12px;
}

.stiles li
{
 list-style:none;
}

.stiles a#activated
{
	color:#ec121b;
	text-decoration:underline;
	list-style-type:circle;
}

.stiles a
{
	color:#ec121b;
	text-decoration:none;
}

.stiles a:hover
{
	color:#000000;
}

.side_blackline_4px
{
	float:left;
	height:4px;
	width:212px;
	background:url('images/black_underline_bg.gif');
	background-repeat: repeat-x;
}

/*###########---------------- Main Col ----------------###########*/

.main_panel
{
	margin-left:17px;
	float:left;
	width:485px;
	height:auto;
}

.full_panel
{
	margin-right:17px;
	float:left;
	width:734px;
	height:auto;
}


.half_main_panel_left
{
	float:left;
	width:235px;
	height:auto;
	margin-right:15px;
	margin-bottom:10px;
}



.half_main_panel_right
{
	float:left;
	width:235px;
	height:auto;
	margin-bottom:10px;
}

.half_main_left
{
	float:left;
	width:235px;
	height:auto;
	margin-left:17px;
	margin-right:15px;
}

.half_main_right
{
	float:left;
	width:235px;
	height:auto;
}

.main_panel_img
{
	float:left;
	margin-top:6px;
	margin-right:10px;
	margin-bottom:10px;
	width:235px;
	height:auto;
}

.main_panel_img img
{
	width:225px;
	height:auto;
}

.path_title
{
	float:left;
	width:100%;
	height:auto;
	margin-top:10px;
	font-weight:bold;
	font-size:10px;
}

.path_title img
{
padding-left:3px;
border:0;
}

.path_title a
{
	color:#000000;
	text-decoration:none;
}

.path_title a:hover
{
	color:#ec121b;
}

.article_title
{
	margin-top:10px;
	float:left;
	width:100%;
	height:auto;
	margin-bottom:10px;
	font-weight:bold;
	font-size:17px;
	color:#ec121b;
}

.article_title a
{
	text-decoration:none;
	color:#ec121b;
}

.article_title a:hover
{
	color:#000000;
}

.article
{
	width:auto;
	height:auto;
	font-size:12px;
	margin-bottom:3px;
}

.nonisarticle
{
    float:left;
	width:auto;
	height:auto;
	font-size:12px;
	margin-bottom:3px;
}

.complete_article
{
	float:right;
	text-align:right;
	width:100%;
	height:auto;
	font-size:12px;
	margin-bottom:6px;
}

.complete_article a
{
	font-weight:bold;
	font-size:10px;
	color:#888687;
	text-decoration:none;
}

.complete_article a:hover
{
	color:#ec121b;
}

.sendprint
{
	float:left;
	width:100%;
	margin-bottom:8px;
}

.sendprint a
{
	font-weight:bold;
	font-size:10px;
	color:#888687;
	text-decoration:none;
}

.sendprint a:hover
{
	color:#ec121b;
}

.full_redline
{
	float:left;
	width:100%;
	height:2px;
	background:url('images/red_2px_gb.gif');
	background-repeat: repeat-x;
}

.half_redline
{
	float:left;
	width:235px;
	height:2px;
	background:url('images/red_2px_gb.gif');
	background-repeat: repeat-x;
}



/***************************************** article.php css ***************************************/
.art_main_panel_img
{
	float:left;
	margin-top:6px;
	margin-right:6px;
	width:206px;
	height:auto;
	margin-bottom:10px;
}

.art_main_panel_img img
{
	/*display: block;
    margin-left: auto;
    margin-right: auto;*/
    float:left;
	max-width:200px;
	height:auto;
}



.headart img
{
padding-left:3px;
border:0;
}

.headart a
{
	color:#000000;
	text-decoration:none;
}

.headart a:hover
{
	color:#ec121b;
}

.headart h1
{
	float:left;
	width:100%;
	height:auto;
	margin-bottom:10px;
	margin-top:0px;
	font-weight:bold;
	font-size:17px;
	color:#ec121b;
}

.headart h2
{
	float:left;
	width:100%;
	height:auto;
	margin-bottom:3px;
	margin-top:0px;
	font-weight:bold;
	font-size:13px;
	color:#ec121b;
}

.headart h3
{
	float:left;
	width:100%;
	height:auto;
	margin-bottom:10px;
	margin-top:10px;
	font-weight:bold;
	font-size:10px;
}

a.art_title
{
	text-decoration:none;
	color:#ec121b;
}

a.art_title:hover
{
	color:#000000;
}

.art_article
{
	width:auto;
	height:auto;
	font-size:12px;
	margin-bottom:18px;
}

.art_article img
{
    max-width:400px;
    height:auto;
}

.art_sendprint
{
	float:left;
	width:485px;
	margin-bottom:8px;
}

.art_sendprint a
{
	font-weight:bold;
	font-size:10px;
	color:#888687;
	text-decoration:none;
}

.art_sendprint a:hover
{
	color:#ec121b;
}

.art_date
{
    width:100%;
    float:left;
    text-align:right;
	font-size:10px;
	color:#ec121b;
	font-style:italic;
	text-decoration:none;

}

/******************************** end article.php css *************************************/



/*###########---------------- Right Col ----------------###########*/

.white_side_panel
{
	float:right;
	width:auto;
	height:auto;
	margin-bottom:10px;

}
.shipwr
{
float:left;
width:232px;
font-weight:bold;
font-size:11px;
color:#ec121b;
text-align:center;
}
.shipban
{
float:left;
width:232px;
height:134px;
background-repeat:no-repeat;
background-image:url('images/shiptogaza.jpg');
}
.shipbg
{
float:left;
width:232px;
background-repeat:no-repeat;
background-image:url('images/shiptogaza.gif');
}

.epikairotita
{
	float:left;
	margin-top:11px;
	width:232px;
}

.epikairotita a
{
	font-weight:bold;
	font-size:11px;
	color:#ec121b;
	text-decoration:none;
}

.epikairotita a:hover
{
	color:#000000;
}

.morepik
{
	float:left;
	font-size:11px;
	margin-top:11px;
	width:232px;
	font-weight:bold;
}

.morepik a
{
    color:#888687;
	text-decoration:none;
}

.morepik a:hover
{
    color:#000000;
	text-decoration:none;
}

.right_col_img
{
	float:left;
	margin-top:10px;
	width:230px;
	height:auto;
    border:1px gray solid;

}

.right_col_img img
{
	width:230px;
	height:auto;
}

.right_col_img1
{
	float:left;
	margin-top:20px;
        margin-bottom:10px;
	width:232px;
	height:auto;

}

.right_col_img1 img
{
	width:232px;
	height:auto;
}

.white_side_blackline_4px
{
	float:left;
	height:4px;
	width:232px;
	background:url('images/black_underline_bg.gif');
	background-repeat: repeat-x;
}



.margin5
{
float:left;
width:100%;
margin-top:10px;
}

/*============== dikes =================*/
.dikes
{
	width:48%;
	background:red;
	color:black;
	float:left;
	text-align:center;
	font-weight:bold;
	margin:1%;
}


.dikes a
{
	color:black;
	text-decoration:none;
}

.dikes a:hover
{
	color:white;
	text-decoration:none;
}

.dikela
{
	float:left;
	margin:1px;
	margin-top:5px;
	width:48%;
	display:none;
}

.dikela a
{
	font-weight:bold;
	font-size:11px;
	color:#ec121b;
	text-decoration:none;
}

.dikela a:hover
{
	color:#000000;
}

.dik17n
{
	float:right;
	margin:1px;
	margin-top:5px;
	width:48%;
	display:none;
}

.dik17n a
{
	font-weight:bold;
	font-size:11px;
	color:#ec121b;
	text-decoration:none;
}

.dik17n a:hover
{
	color:#000000;
}
/*==============  pager ================*/
.pager
{
margin-top:15px;
float:left;
text-align:center;
width:100%;
}

span.page
{
font-size:15px;
}

span.page a
{
margin:2px;
text-decoration:none;
color:red;
font-weight:bold;
}

span.page a:hover
{
margin:2px;
color:black;
text-decoration:none;
}

span.next a, span.prev a, span.first a, span.last a
{
font-size:15px;
font-weight:bold;
margin:5px;
text-decoration:none;
color:gray;
}

span.next a:hover, span.prev a:hover, span.first a:hover, span.last a:hover
{
font-size:15px;
font-weight:bold;
margin:5px;
color:black;
text-decoration:none;
}

span.current
{
margin:2px;
text-decoration:none;
color:black;
font-weight:bold;
}
/*==============================
		FOOTER
===============================*/
.footer-wrapper
{
	clear:left;
	width:983px;
	height:60px;

}

.red_footer
{
	height:4px;
	width:983px;
	background:url('images/red_4px_bg.gif');
	background-repeat: repeat-x;
}

.footer_home
{
	margin-top:4px;
	float:right;
}


.footer_red_menu
{
	font-size:10px;
	margin-top:8px;
}

.footer_red_menu ul
{
	list-style: none;
  margin:0;
  padding:0;
  float:left;
}


.footer_red_menu li
{
	list-style: none;
  margin:0;
  padding-right:7px;
  float:left;
}

.footer_red_menu li:before
{
	content: "| ";
}

.footer_red_menu a
{
	color:#ec121b;
	text-decoration:none;
}

.footer_red_menu a:hover
{
	color:#000000;
}

.footer_black_menu
{
	color:#ec121b;
	font-size:11px;
	margin-top:6px;
}

.footer_black_menu ul
{
	list-style: none;
  margin:0;
  padding:0;
  float:left;
 	width:100%;
}


.footer_black_menu li
{
	list-style: none;
  margin:0;
  padding-right:7px;
  float:left;
}

.footer_black_menu li:before
{
	content: "| ";
}

.footer_black_menu a
{
	color:#888687;
	text-decoration:none;
}

.footer_black_menu a:hover
{
	color:#000000;
}


/* --------------------------  moncalendar  ------------------------------------- */

.calhead
{

width:100%;
float:left;
margin-top:7px;
margin-bottom:7px;
}

.wtitle
{
    font-weight:bold;
    width:auto;
    text-align:center;

}
.wmonth
{
	width:auto;
    text-align:center;
}



.wmonth a
{
text-decoration:none;
color:#000000;
font-weight:bold;
}

.wmonth a:hover
{
text-decoration:none;
color:#ec121b;
font-weight:bold;
}

.wmonth img
{
border:0px;
margin-left:4px;
margin-right:4px;
text-decoration:none;
}

.wmonth img:hover
{
text-decoration:none;
}

.whatday
{

float:left;
width:100%;
font-weight:bold;
margin-bottom:5px;
}

.dayevents
{
float:left;
width:100%;
margin-left:20px;
margin-bottom:5px;
}

.dayevents a
{
text-decoration:none;
color:#ec121b;
}

.dayevents a:hover
{
text-decoration:none;
color:#000000;
}


.event_image
{
width:100%;
height:auto;
margin-bottom:7px;
text-align:center;
}

.event_image img
{
width:220px;
height:auto;
border:0px;
}
.event_body
{
float:left;
width:100%;
height:auto;
margin-bottom:7px;
}

/*-------------------------- rcolcat  --------------------------*/

.rcolcat
{

	padding:10px;
	float:left;
    margin-top:30px;
	width:210px;
	height:auto;
	margin-bottom:9px;
    border:1px gray solid;

}


.rcol_title
{
	float:left;
	margin-top:0px;
	width:100%;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
}

.rcol_art
{
	float:left;
	margin-top:5px;
	width:100%;
}

.rcol_art a
{
	color:#ec121b;
	text-decoration:none;
}

.rcol_art a:hover
{
    float:left;
	color:#000000;
	text-decoration:none;
}

.rcol_blackline
{
	float:left;
	margin-top:5px;
	height:4px;
	width:212px;
	background:url('images/black_underline_bg.gif');
	background-repeat: repeat-x;
}

.morrcol
{
	float:left;
	font-size:11px;
	margin-top:5px;
	width:100%;
	font-weight:bold;
}

.morrcol a
{
    color:#888687;
	text-decoration:none;
}

.morrcol a:hover
{
    color:#000000;
	text-decoration:none;
}


.ui-datepicker-calendar {
  display: none;
}

