<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Edit User Role: <%= @user.email %>
      </div>

      <%= render 'role_form' %>
    </div>
  </div>
</div>

