$(document).ready(function() 
{
var selected =  $('select#article_category_id option:selected').val();
var categories = new Array();
<% @categories.each do |category| %>
  categories.push(new Array(<%= category.issued %>, '<%=h category.name %>', <%= category.id %>));
<% end %>

var before=2,current=1,j=0;

function issueSelected() {
  issue_id = $('select#article_issue_id').val();
	var options="<option value=\"\">Select a category</option>";

	if(issue_id>0)
		current=1;
	else
		current=0;

	if(before!=current)
	{
  	$.each(categories, function(index, category) 
		{
    	if (category[0] == true && issue_id != "") 
			{
				if ( selected == category[2] && j == 0)
				{
					j=1;
					options+="<option selected=\"selected\" value=\""+category[2]+"\">"+category[1]+"</option>";
				}
				else
					options+="<option value=\""+category[2]+"\">"+category[1]+"</option>";
    	}
			else if(category[0] == false && issue_id == "" )
			{
				if ( selected == category[2] && j == 0)
				{
					j=1;
					options+="<option selected=\"selected\" value=\""+category[2]+"\">"+category[1]+"</option>";
				}
				else
					options+="<option value=\""+category[2]+"\">"+category[1]+"</option>";
			}
  	});
	$('select#article_category_id').html(options);
	}
	before=current;
}

	
  issueSelected();
  $('select#article_issue_id').change(issueSelected);
});
