<% banners = Banner.get_banner(block.id) %>
<div class = 'banner_right'>
  <% banners.each do |banner| %>
      <%= (banner.url.nil? or banner.url.empty?) ? (link_to (image_tag banner.photo.url, border: 0, width: "232px", alt: banner.describe), banner.check_url, id: "single") : (link_to (image_tag banner.photo.url, border: 0, width: "232px", alt: banner.describe), banner.check_url, target: "blank") %>
  <% end %>
</div>

