<div class = "white_side_panel">
  <div class = "title">
		<%= @block.navigators[0].navigatable.name %>
		<%= link_to ( image_tag "base/rss.png", :align => "right", :width => "23px", :border => 0 ), "/" %>
	</div>
	<div class = "white_side_blackline_4px"></div>
  <% articles = @block.navigators[0].navigatable.articles.last_arts(9) %>
  <% articles.each do |article| %>
    <div class="epikairotita">
      <%= link_to article.title, article.linker_permalink %>
    </div>
  <% end %>
  <div class="morepik">
    <%= link_to "Περισσότερα...", @block.navigators[0].navigatable.linker_permalink%>
  </div>
</div>

