<% cache "navigator##{block.id.to_s}" do %>
<div class = "side_panel">
  <div class = "title">
		<%= block.name %>
	</div>
  <div class = "side_blackline_4px"></div>

	<div class = "stiles">
    <%= render :partial => "blocks/navigator_list", :locals => { block: block} %>
  </div>
</div>
<% end %>

