<% if record.errors.any? %>
  <h4 class="alert_warning"> Παρουσιαστηκαν τα εξείς λάθοι:
    <ul>
      <% record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </h4>
<% end %>
